body {
    margin: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(180deg, rgb(195, 171, 159), rgb(61, 57, 57));
    border: 2px solid #000;
}

h1 {
    font-style: italic;
    color: rgb(0, 0, 0);
    border: 10px solid rgb(150, 0, 0);
    border-radius: 20px;
    position: absolute;
    top: 7%;
    left: 35%;
    transform-origin: center;
    font-size: 40px;
    transition: transform 0.4s ease-in-out;
}

h1:hover {
    transform: scale(1.1);
}

p {
    outline: 7px solid rgb(0, 0, 0);
    font-size: 7mm;
    border-radius: 7px;
    color: rgb(0, 0, 0);
    padding: 29px;
    text-align: center;
    width: 1200px;
    margin-bottom: 90px;
    transition: transform 0.4s ease-in-out;
}

p:hover {
    transform: scale(1.1)
}